<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Granderath</title>
  <meta name="author" content="Malte Granderath"/>
  <meta name="description" content="Blog & Portfolio"/>
  <meta name="image" content="https://granderath.me/images/hero_bg_image.jpg"/>
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Malte Granderath"/>
  <meta itemprop="description" content="Blog & Portfolio"/>
  <meta itemprop="image" content="https://granderath.me/images/hero_bg_image.jpg"/>
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="Malte Granderath"/>
  <meta name="og:description" content="Blog & Portfolio"/>
  <meta name="og:type" content="website"/>
  <meta name="google-site-verification" content="8mx3nIi5ePcme2PTUnGvkxIoT5dUj3QDw5HbQm6gEuY"/>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, height=device-height">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/font-awesome.min.css" />
  

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" />


  <!-- Javascript
  -------------------------------------------------- -->

  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.waypoints.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.ez-bg-resize.js"></script>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="menu-links">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
  </div>
</div>
<i id="menu-button" class="fa fa-2x fa-bars white-menu" aria-hidden="true" onclick="openNav()"></i>
<div id="loader-wrapper">
			<div id="loader"></div>

			<div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>

	</div>
{{ content }}
<section style="max-height: 100px; padding: 0; padding-top: 30px;" class="footer u-full-width">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <p>&copy Malte Granderath</p>
            </div>
        </div>
    </div>
</section>
<script>
window.onload = function() {
    $('body').addClass('loaded');
};
/* Open the sidenav */
function openNav() {
    $('#mySidenav').css({
      width: 100+ "%",
    });
    $("body, html").css({
      overflow: 'hidden',
    });
    $('.fa-bars').css({
      "z-index": 0,
    });
}

/* Close/hide the sidenav */
function closeNav() {
    $('#mySidenav').css({
      width: 0,
    });
    $("body, html").css({
      overflow: 'visible',
    });
    $('.fa-bars').css({
      "z-index": 1000,
    });
}
</script>
</body>
</html>
